body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#header {
	width: calc(100% - 20px);
	height: 25px;
	background-color: black;
	display: flex;
	flex-direction: row;
	margin: 10px;
}

#number-input {
	flex: 5;
}

#load-text-button {
	flex: 2;
	/* background-color: #ffae35; */
	border: none;
}

#body-container {
	width: 100%;
}

.text-paragraph {
	margin: 15px;
	font-size: 20px;
	word-wrap: break-word;
	border: 2px;
	border-style: solid;
	border-radius: 5px;
	padding: 2px;
}
