.label {
	margin: 0;
	font-size: 1.5rem;
	color: white;
}

.radio {
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.button {
	padding: 0.5rem;
	margin-top: 0.25rem;
	font-size: 1.5rem;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: max(200px, 100%);
	height: 0.5rem;
	background: #e0e0e0;
	outline: none;
	border-radius: 0.125rem;
	transition: background 0.2s ease-in-out;
	margin: 1rem 0;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: #eee;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	border: none;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.slider:hover::-webkit-slider-thumb {
	background: #bbb;
}

.slider::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: #bbb;
	cursor: pointer;
	border: none;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.slider:hover::-moz-range-thumb {
	background: #bbb;
}

@media (max-width: 1000px) {
	.label {
		font-size: 2.5rem;
	}

	.radio {
		font-size: 2.5rem;
	}

	.slider {
		width: 40vw;
		height: 0.8rem;
	}

	.slider::-webkit-slider-thumb {
		width: 2.5rem;
		height: 2.5rem;
	}

	.slider::-moz-range-thumb {
		width: 2.5rem;
		height: 2.5rem;
	}

	#controlPanel {
		width: 90vw;
	}
}

.controls {
	background-color: rgb(10, 10, 10);
	padding: 0.75rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

#centered-canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}
