body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #f9f1d1;
}

#card1 {
	background-color: #f1c27d;
	width: 90%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	overflow: hidden;
}

.animateRight {
	animation: right 1s forwards;
}
.animateLeft {
	animation: left 1s;
}

.card-header {
	color: #1f8efa;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 30px;
	flex: 1.4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body {
	flex: 4;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.body-text {
	color: #1f8efa;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 30px;
	margin: 10px;
}

.buttons {
	flex: 0.75;
	background-color: black;
	width: 100%;
	display: inline-flex;
}

.btn {
	height: 100%;
	width: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
}

.not-known {
	background-color: #e74c3c;
}

.known {
	background-color: #27ae60;
}

#test-button {
	position: fixed;
	bottom: 0;
	right: 0;

	margin: 10px;

	font-size: 30px;
}

@keyframes left {
	to {
		transform: translateX(-500px) translateY(1000px) rotate(40deg);
	}
}

@keyframes right {
	to {
		transform: translateX(500px) translateY(1000px) rotate(-40deg);
	}
}
