.info {
	position: relative;
	width: calc(90% - 15px);
	height: calc(65% + 2 * 20px);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info-text {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	color: #0a0a0a;
}

.side-info {
	width: 25%;
}

.right-info {
	text-align: right;
	color: #27ae60;
	font-weight: bold;
}
